@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body,
input,
textarea,
button,
h1,
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}


.inputFormStyles:focus+label {
  top: 0.375rem;
  font-size: 0.75rem;
}

.inputFormStyles:not(:placeholder-shown).inputFormStyles:not(:focus)+label {
  font-size: 0.75rem;
  top: 0.375rem;
}